
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background:linear-gradient(to right, rgb(219, 219, 219) , rgb(131, 184, 209));
  color: white;
  overflow: hidden; 
  display: grid;
  place-items: center;  
  min-height: 100vh;
  font-family: "poppins";
  font-size: 16px;
  letter-spacing: 0.2rem;
}

main{
  position: relative;
  width: 70vw;
  background-image: url('./images/img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.8;
  display: grid;
  place-items: center;
}

.container{
  max-width: 80%;
}

.container::after{
  position: absolute;
  content: "Click Anywhere On The Image To Update";
  text-align: center;
  font-size: 10px;
  bottom: 5%;
  right: 5%;

}